.traffic-box{
    display: flex;
    justify-content: center;
    
}
.traffic-light{
    border: 5px;
    border-style: solid;
    height: 350px;
    width: 150px;
    
    background-color: black;
    display: flex;
    flex-direction: column;
  align-items: center;
}

.light{
    height: 100px ;
    width: 100px ;
    border-radius: 100%;
    margin-top: 5px ;
    margin-bottom: 5px ;
    border: 2px;
  
}

.on{
    box-shadow: -9px 1px 29px 21px rgba(210,214,24,0.65);
-webkit-box-shadow: -9px 1px 29px 21px rgba(210,214,24,0.65);
-moz-box-shadow: -9px 1px 29px 21px rgba(210,214,24,0.65);
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

















/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
